{{#each notes}}
<div class="card card-body mb-3">
  <h3 class="text-center">{{title}}</h4>
  <p class="lead text-center mb-5">{{contents}}</p>
  <a class="btn btn-dark btn-block mb-2" href="/notes/edit/{{id}}">Edit Note</a>
  <form class="" action="/notes/{{id}}?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-danger btn-block" type="submit" value="Delete Note">
  </form>
</div>
{{else}}
<div class="text-center jumbotron">
  <h5 class="mb-3">You Don't Have Any Notes.</h5>
</div>
{{/each}}
<div class="text-center">
  <a class="btn btn-primary mb-3" href="/notes/add">Add a Note</a>
</div>
